button {
    display: block;
    padding: 0.3em 1.3em;
    font-size: 1em;
    color: #333;
    border: 1px solid #ebebeb;
    text-align: center;
    background-color: white;
    cursor: pointer;
}
button.primary {
    background-color: #4c4c4c;
    color: #fff;
    border: 1px solid #0000;
}
button.secondary {
    background-color: #f3f6f9;
    border: 1px solid #ebf0f5;
}
button.phantom {
    padding: .3em;
    border:none;
    background-color: transparent;
}
button.link {
    background-color: none;
    border: none;
    display: inline;
    padding: .3em .5em;
}
button.is-block {
    display: block;
    width: 100%;
}